<template name="landing">
  <section class="branding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="logo-line"><img src="logo.png"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h1>
            Dont be afraid to tell others <b>what bugs you</b> about your workplace! 
          </h1>
        </div>
        <div class="col-md-6">
          alamakota
        </div>
      </div>
      <div class="sticky">
        <a href="#" class="btn btn-primary btn-transparent">
          <i class="fa fa-caret-down"></i>
          LEARN MORE
          <i class="fa fa-caret-down"></i>
        </a>
      </div>
    </div>
  </section>
  
</template>