<template name="landing">
  <section class="branding">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="logo-line"><img src="logo.png"> </div>
        </div>
      </div>
      <div class="row">
        {{#unless is_mobile}}
        <div class="col-lg-6 col-md-5">
          <h1>
            Share with others <b>what bugs you</b> about your workplace! 
          </h1>
          <h2><b>Take feedback</b> and focus on the <b>most important</b> problems in your company.</h2>
          <p>
            <a href="https://play.google.com/store/apps/details?id=com.idcfk3ul1oon0se11pyijt"><img src="/gplay.png"></a>
          </p>
        </div>
        {{/unless}}
        <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-1">
          <div role="tabpanel">
            <ul class="nav nav-tabs nav-justified" role="tablist">
              <li role="presentation" class="active"><a href="#register" aria-controls="register" role="tab" data-toggle="tab">Register</a></li>
              <li role="presentation"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="register">
                {{> userSignUp}}
              </div>
              <div role="tabpanel" class="tab-pane" id="login">
                {{> userSignIn}}
              </div>
            </div>

          </div>
        </div>
      </div>
      {{#unless is_mobile}}
      <div class="sticky">
        <a href="#features" class="btn btn-transparent">
          <i class="fa fa-caret-down"></i>
          LEARN MORE
          <i class="fa fa-caret-down"></i>
        </a>
      </div>
      {{/unless}}
    </div>
  </section>
  {{#unless is_mobile}}
    <section class="features" id="features">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3><i class="fa fa-user"></i> Anonymous</h3>
            <p>
              Something got under your skin in the workplace? Use this virtual complains box with no fear and your problems will be noticed.
              Feel free to write what vexes you the most. You will remain anonymous, the only information shown will be the name of your company.
            </p>
            <p>
              Invite friends and coworkers as your comments about the situation in your workplace may interest many other users. You won’t be alone in your dissatisfaction.
            </p>
          </div>
          <div class="col-sm-4">
            <h3><i class="fa fa-sort-amount-asc"></i> Vote for the entries</h3>
            <p>Share your entries with others and start grumbling together. Find out what bugs others. You can use rating system to focus on the most important problems. Vote for the entries about the most irritating issues in your workplaces. Surely, there will be many friends of the same mind.</p>
          </div>
          <div class="col-sm-4">
            <h3><i class="fa fa-github"></i> OpenSource</h3>
            <p>
              Found this application attractive? We share this solution in our open source. It is free and available to everyone. Moreover, if our hosted solution is not enough - you could grab the code and install it locally, wherever you like. It works on linux or osx.
            </p>
            <p>
              Start shaping a friendlier workplaces by identifying the most demotivating factors that should be changed or improved. 
            </p>
          </div>
        </div>
      </div>
    </section>
  {{/unless}}
</template>