<template name="generalLayout">
  <header class="github">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class='pull-left'>
            Hello, 
            {{#if currentUser}}
              <a href="{{pathFor route='dashboard'}}">{{currentUser.userName }}</a>
            {{else}}
              random citizen!
            {{/if}}
          </div>
          <div class='pull-right'>
            <span class="hidden-sm hidden-xs">Visit project in </span>
            <a href="https://github.com/rstgroup/whatbugsme"><i class="fa fa-github"></i> githup </a>
            or
            <span class="hidden-sm hidden-xs">check out our</span> 
            other 
            <a href="http://rst-it.com/our-code">open source projects </a>
            <span class="hidden-sm hidden-xs">and collaborate with us!</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  {{> yield }}
  {{#unless is_mobile}}
    <footer class="rst">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class='pull-left'>
              This project is part of <a href="http://rst-it.com">RST-IT</a> Open Source initiative.
            </div>
            <div class='pull-right hidden-xs'>
              Check out our
              <a href="http://rst-it.com/our-code"><i class="fa fa-github"></i> open source projects </a>
              and collaborate with us!
            </div>
          </div>
        </div>
      </div>
    </footer>
  {{/unless}}
</template>